-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."stockcode" (
    "id" SERIAL NOT NULL,
    "emc" TEXT NOT NULL,
    "custpn" TEXT NOT NULL,
    "value" TEXT,
    "mpn1" TEXT NOT NULL,
    "qty" INTEGER,

    CONSTRAINT "stockcode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."billofmaterials" (
    "bom_id" SERIAL NOT NULL,
    "parent_bom_id" INTEGER,
    "customer" TEXT,
    "bom_name" TEXT NOT NULL,
    "revisionno" INTEGER,
    "revision_date" TIMESTAMP(3),
    "status" TEXT,

    CONSTRAINT "billofmaterials_pkey" PRIMARY KEY ("bom_id")
);

-- CreateTable
CREATE TABLE "public"."bomitems" (
    "id" SERIAL NOT NULL,
    "bom_id" INTEGER NOT NULL,
    "emc" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "designators" TEXT NOT NULL,
    "mpn1" TEXT NOT NULL,
    "pcb_side" TEXT,
    "processdept" TEXT,
    "revision_note" TEXT,

    CONSTRAINT "bomitems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."bom_history" (
    "id" SERIAL NOT NULL,
    "bom_id" INTEGER NOT NULL,
    "customer" TEXT NOT NULL,
    "revisioncode" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "date_revised" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bom_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "stockcode_emc_key" ON "public"."stockcode"("emc");

-- CreateIndex
CREATE UNIQUE INDEX "stockcode_custpn_key" ON "public"."stockcode"("custpn");

-- CreateIndex
CREATE INDEX "bomitems_bom_id_idx" ON "public"."bomitems"("bom_id");

-- CreateIndex
CREATE INDEX "bomitems_emc_idx" ON "public"."bomitems"("emc");

-- CreateIndex
CREATE UNIQUE INDEX "bomitems_bom_id_emc_key" ON "public"."bomitems"("bom_id", "emc");

-- CreateIndex
CREATE UNIQUE INDEX "bom_history_revisioncode_key" ON "public"."bom_history"("revisioncode");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "public"."User"("username");

-- AddForeignKey
ALTER TABLE "public"."bomitems" ADD CONSTRAINT "bomitems_bom_id_fkey" FOREIGN KEY ("bom_id") REFERENCES "public"."billofmaterials"("bom_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."bomitems" ADD CONSTRAINT "bomitems_emc_fkey" FOREIGN KEY ("emc") REFERENCES "public"."stockcode"("emc") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."bom_history" ADD CONSTRAINT "bom_history_bom_id_fkey" FOREIGN KEY ("bom_id") REFERENCES "public"."billofmaterials"("bom_id") ON DELETE RESTRICT ON UPDATE CASCADE;

